*{
    margin: 0;
    padding: 0;
}

.main-box {
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
}

.cleared-tiles{
    border: .5px solid red;
}